.products{
    justify-content: center;
    figure{
        display:flex;
        align-items: center;
        outline: 2px solid #FFFFFF;
        margin: 2%;
        flex-basis: 27%;
        @media (max-width: 991px) {
            flex-wrap: wrap-reverse;
            text-align: center;
            flex-basis: 45%!important;
        }
        @media (max-width: 768px) {
            flex-wrap: wrap-reverse;
            text-align: center;
        }
        @media (max-width: 575px) {
            flex-wrap: wrap-reverse;
            flex-basis: 40%!important;
        }
        img{
            width: 100%;
            height: 180px;
            padding: 10px;
            object-fit: contain;
        }
        .title{
            font-size: 1.5em;
            color: #48391F;
            font-weight: 800;
        }
        .sub-title{
            color: #FFFFFF;
            font-weight: 600;
            margin-bottom: 0.7em;
            @media (max-width: 768px) {
	            font-size: 0.8em;
	        }
        }
        .btn{
            font-size: 0.8em;
            min-width: 100px!important;
        }
    }
}
